.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
html, 
body {
  width: 100%;
    height: 100%;
}
#root {
  width: 100%;
  height: 100%;
  
}
.c1{
  width: 100%;
  height: 100%;
  
}
.bg{
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.startButton {
  position: fixed;
  /* top: 100%; */
  bottom: 0;
  /* left: 50%; */
  right : 0;
  width: 200px;
  height: 200px; 
  outline:0 !important;
}
.startButton .startButtonImage {

  width: 100%;
}
.section {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.columns {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* border-style: solid;
  border-width: 5px; */
}
 .Sketcher {
   position: relative;
   width: 100%;
  height: 90%;  
 border-style: solid;
  border-width: 0.5px; 
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
